<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/home/login.js"></script>
        <title>Document</title>
    </head>
    <body>
        <!-- inp치고 탭키누르면 자동완성 -->
        <!-- inp*2 치고 탭 누르면 input 2개 자동완성 -->
    
        <input type="text" name="" id="" placeholder="아이디"><br>
        <input type="text" name="" id=""><br>
        <button
    </body>
    </html>